body, html {
    font-family: 'Poppins' !important;
    max-width: 1360px;
    overflow-x: hidden;
    margin: 0 auto;
}
.bottom h1 {
    margin-bottom: 1.6rem !important;
}
.bottom p {
    margin-bottom: 0.9rem !important;
}
.host-header {
    height: 100vh;
    min-height: 768px;
}
.top-140 {
    margin-top: 140px;
}
.top-67 {
    margin-top: 67px;
}
.ptb-67 {
    padding: 0 67px;
}
.pd-30{
    padding: 30px !important;
}
.header-image, .bottom-image {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 100%;
}
.header-image {
    background: url('/assets/media/photos/follow-that-dream-1.webp');
    background-position: 50% 50%;
    height: 100vh;
}
.bottom-image {
    background: url('/assets/media/photos/follow-that-dream-2.webp');
    background-position: 80% 50%;
}
.text-header {
    margin: 70px 0;
    font-weight: 600;
}
.text-content {
    margin: 0 0 70px 0;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.03rem;
}
.letsgo {
    background: #ff7400;
    padding: 10px 22px;
    color: #fff;
    border: solid 1px #ff7400;
    border-radius: 12px;
    font-weight: 600;
}
.host-body-text {
    font-size: 40px;
    display: block;
    font-weight: 600;
    color: #000;
}
.row-grid-img {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(1, auto) !important;
    gap: 15px;
    display: grid;
}
.grid-img-container {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.row-grid-img img {
    max-width: 100%;
    aspect-ratio: 1/1;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 4%);
    border: solid 1px #cdcdcd;
    background: #cdcdcd;
}
.pd-lr-content {
    padding: 0 30px;
}
.video-text-section {
    padding-right: 60px !important;
}
.video-text-section h1, .video-text-section p {
    color: #000;
}
.video-text-section h1 {
    font-weight: 600;
}
.video-text-section p {
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 1px;
}
.host-video-section {
    display: flex;
    justify-content: center;
    height: 440px;
    width: auto;
}
.host-video-container {
    position: relative;
    background: url('/assets/media/videos/mobile-phone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.video-content {
    width: 298px;
    height: 359px;
}
.host-video-container video {
    width: 61.5%;
    border-radius: 10px;
    position: relative;
    top: 12.8%;
    left: 32.6%;
}
.help-section {
    background: url('/assets/media/photos/customer-services.webp');
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    padding: 60px 30px;
    border-radius: 12px;
}
.help-section p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.2;
}
.text-right {
    text-align: right;
}
.background-light-grey {
    background: #f7f7f7;
}
.customer-support-block {
    padding: 67px 0;
}
.customer-support-block h1 {
    color: #000;
    font-weight: 600;
}
.customer-support-block p {
    font-size: 18px;
    line-height: 1.2;
}
.right-20 {
    padding-right: 20px !important;
}
.left-20 {
    padding-left: 20px !important;
}
.form-control {
    margin-bottom: 10px;
    height: 50px;
    border-radius: 8px !important;
}
input::placeholder {
    font-size: 14px;
}
.add-link {
    width: 100%;
    border: solid 1px #ff7500;
    background: #ff7400;
    outline: none;
    height: 48px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
}
.add-link i {
    font-size: 12px;
    margin-right: 10px;
}
.v-middle {
    position: relative;
    top: 15%;
}
.protection-section {
    background: url('/assets/media/photos/easy.webp');
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    padding: 60px 30px;
    border-radius: 12px;
}
.sp-75 {
    height: 75px;
}
.sp-200 {
    height: 200px;
}
.listing-text-section {
    background: #000;
    padding: 60px 30px;
    border-radius: 12px;
}
.text-white h1, .text-white h3, .text-white p {
    text-shadow: 1px 1px 2px #000;
}
.text-pink {
    color: #ff7400;
}
.family-section {
    background: url('/assets/media/photos/family.webp');
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    padding: 60px 30px;
    border-radius: 12px;
}
.footer {
    border-top: solid 1px #878778;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .video-text-section p {
        font-size: 20px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .video-text-section p {
        font-size: 16px;
    }
    .row-grid-img {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 10px;
    }
    .top-140 {
        margin-top: 70px;
    }
    .top-67 {
        margin-top: 34px;
    }
}

@media only screen and (max-width: 425px) {
    .video-text-section p {
        font-size: 14px;
    }
    .row-grid-img {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 5px;
    }
    .row-grid-img img {
        border-radius: 5px;
    }
    .top-140 {
        margin-top: 34px;
    }
    .top-67 {
        margin-top: 17px;
    }
    .host-body-text {
        margin-top: 280px !important;
    }
    .video-text-section {
        padding-right: 0 !important;
    }
    .host-body-text {
        font-size: 20px;
    }
    .text-header {
        margin: 35px 0;
    }
    .text-content {
        margin: 0 0 35px 0;
    }
    .pd-30 {
        padding: 15px !important;
    }
    .sp-75 {
        height: 37px;
    }
    .h1, h1 {
        font-size: calc(1.05rem + 1.2vw) !important;
    }
    .h2, h2 {
        font-size: calc(1.0005rem + 0.75vw) !important;
    }
    .h3, h3 {
        font-size: calc(0.995rem + 0.3vw) !important;
    }
    .h4, h4 {
        font-size: 0.889rem !important;
    }
    .help-section p {
        font-size: 16px;
    }
    .text-right {
        text-align: center;
    }
    .customer-support-block p {
        font-size: 16px;
    }
    .sp-200 {
        height: 100px;
    }
    .bottom-image {
        height: 70vh;
    }
    .right-20 {
        padding-right: 0 !important;
    }
    .left-20 {
        padding-left: 10px !important;
        margin-top: 40px !important;
    }
}