/*Start of restaurant type */
.restauranttype-popup{
    position: absolute;
    width: 350px;
    background-color: white;
    top: 59px;
    border-radius: 12px !important;
    text-align: left;
    border: 2px solid #ff7400 !important;
    padding: 28px 28px 28px 28px !important;
}
/*End of restaurant type */

/*Start of rate of price */
.rateofprice-popup{
    position: absolute;
    width: 350px;
    background-color: white;
    top: 59px;
    border-radius: 12px !important;
    text-align: left;
    border: 2px solid #ff7400 !important;
    padding: 28px 28px 28px 28px !important;
}
/*End of rate of price*/

/*Start of facilities */
.facilities-popup{
    position: absolute;
    width: 350px;
    background-color: white;
    top: 59px;
    border-radius: 12px !important;
    text-align: left;
    border: 2px solid #ff7400 !important;
    padding: 28px 28px 28px 28px !important;
}
/*End of facilities*/

/*Start of meal-popup */
.meal-popup{
    position: absolute;
    width: 350px;
    background-color: white;
    top: 59px;
    border-radius: 12px !important;
    text-align: left;
    border: 2px solid #ff7400 !important;
    padding: 28px 28px 28px 28px !important;
}
/*End of meal-popup*/

/*Start of dishes-popup */
.dishes-popup{
    position: absolute;
    width: 350px;
    background-color: white;
    top: 59px;
    border-radius: 12px !important;
    text-align: left;
    border: 2px solid #ff7400 !important;
    padding: 28px 28px 28px 28px !important;
}
/*End of dishes-popup*/

/*Start of dishes-popup */
.dietaryfood-popup{
    position: absolute;
    width: 350px;
    background-color: white;
    top: 59px;
    border-radius: 12px !important;
    text-align: left;
    border: 2px solid #ff7400 !important;
    padding: 28px 28px 28px 28px !important;
}
/*End of dishes-popup*/

/*Start of dishes-popup */
.goodfor-popup{
    position: absolute;
    width: 350px;
    background-color: white;
    top: 59px;
    border-radius: 12px !important;
    text-align: left;
    border: 2px solid #ff7400 !important;
    padding: 28px 28px 28px 28px !important;
}
/*End of dishes-popup*/

.stickySubCategory{
    z-index: 100;
    position:sticky;
}

.container-grid-cat{
    grid-template-columns: repeat( 5, minmax(0, 1fr) );
    grid-template-rows: repeat(1, auto) !important;
    gap: 10px;
    display: grid;
    padding-left: 102px;
    padding-right: 102px;
    position: relative;
    z-index: 333;
    background: #fff;
    padding-bottom: 25px;
    border-top: 1px solid #ddd;
}

.container-grid-cat .grid-text span:hover{
    color: #ff7400 !important;
}

.container-grid-sub-cat{
    grid-template-columns: repeat( 4, minmax(0, 1fr) );
    grid-template-rows: repeat(1, auto) !important;
    gap: 10px;
    padding-left: 102px;
    padding-right: 102px;
    z-index: 333;
    background: #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    border-top: 0.4px solid #bababa!important;
    display: none;
}

.container__list{
    margin-top:102px; /*tinggi header*/
}

.container-grid{
    grid-template-columns: repeat( 1, minmax(0, 1fr) );
    grid-template-rows: repeat(1, auto);
    gap: 15px;
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: all 0.2s ease;
}

.container-grid-activity{
    grid-template-columns: repeat( 1, minmax(0, 1fr) );
    grid-template-rows: repeat(1, auto);
    gap: 15px;
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: all 0.3s ease;

}

.container-grid-hotel{
    grid-template-columns: repeat( 1, minmax(0, 1fr) );
    grid-template-rows: repeat(1, auto);
    gap: 15px;
    display: grid;
    padding-left: 102px;
    padding-right: 102px;
    margin-top: 20px;
    margin-bottom: 40px;
    transition: all 0.3s ease;

}

.desc-container-grid{
    grid-template-rows: repeat(1, auto) !important;
    grid-template-columns: 1fr minmax(auto, 25%);
    gap: 2px;
    display: grid;
    position: relative;
}

.grid-list-image{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 12px;
    box-shadow: 3px 3px 30px #d4d4d4;
}

.grid-one-line{
    grid-column: 1 / -1;
}

.h-auto{
    height: auto !important;
}

.aspect-ratio-1{
    aspect-ratio: 1/1 !important;
}

.aspect-ratio-2{
    aspect-ratio: 3/4 !important;
}

.aspect-ratio-3{
    aspect-ratio: 4/3 !important;
}

.grid-overlay-desc{
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0px;
}

.max-lines {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em;
    line-height: 1.5em;
  }

/* .grid-desc-container{
    height: auto;
}

.grid-image{
    height: auto;
    aspect-ratio: 1/1;
} */


/*RESPONSIVE*/

@media (max-width: 549px) {
    .container-grid-cat > div:nth-child(6){
        display: none;
    }

    .container-grid-cat > div:nth-child(5){
        display: none;
    }

    .container-grid-cat > div:nth-child(4){
        display: block;
    }

    .container-grid-cat > div:nth-child(3){
        display: block;
    }

    .container-grid-cat > div:nth-child(2){
        display: block;
    }

    .container-grid-cat > div:nth-child(1){
        display: block;
    }

    .container-grid-sub-cat > div:nth-child(8){
        display: none;
    }

    .container-grid-sub-cat > div:nth-child(7){
        display: none;
    }

    .container-grid-sub-cat > div:nth-child(6){
        display: none;
    }

    .container-grid-sub-cat > div:nth-child(5){
        display: none;
    }

    .container-grid-sub-cat > div:nth-child(4){
        display: none;
    }

    .container-grid-sub-cat > div:nth-child(3){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(2){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(1){
        display: flex;
    }
    .container-grid .list-image-content .aspect-ratio-2,
    .container-grid-activity .list-image-content .aspect-ratio-2 {
        /* aspect-ratio: 4/3 !important; */
        height: 350px !important;
    }
    .aspect-ratio-3 {
        height: 350px !important;
    }
}

@media (min-width: 550px) {
    .container-grid{
        grid-template-columns: repeat( 2, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 15px;
        display: grid;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 45px;
        /* margin-top: 305px; */
        /* transition: all 0.3s ease; */
    }

    .container-grid-cat {
        grid-template-columns: repeat( 5, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 10px;
        display: grid;
        padding-left: 40px;
        padding-right: 40px;
        z-index: 333;
        background: #fff;
        padding-bottom: 60px;
        transition: all 0.3s ease;
    }

    .container-grid-cat > div:nth-child(6){
        display: none;
    }

    .container-grid-cat > div:nth-child(5){
        display: none;
    }

    .container-grid-cat > div:nth-child(4){
        display: block;
    }

    .container-grid-cat > div:nth-child(3){
        display: block;
    }

    .container-grid-cat > div:nth-child(2){
        display: block;
    }

    .container-grid-sub-cat{
        grid-template-columns: repeat( 6, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 10px;
        padding-left: 30px;
        padding-right: 30px;
        z-index: 333;
        background: #fff;
        padding-bottom: 10px;
        padding-top: 20px;
        border-top: 0.4px solid #bababa!important;
    }

    .container-grid-sub-cat > div:nth-child(8){
        display: none;
    }

    .container-grid-sub-cat > div:nth-child(7){
        display: none;
    }

    .container-grid-sub-cat > div:nth-child(6){
        display: none;
    }

    .container-grid-sub-cat > div:nth-child(5){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(4){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(3){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(2){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(1){
        display: flex;
    }
}

@media (min-width: 769px) {
    .button-prev,
    .button-next{
        width:34px;
    }
}

@media (min-width: 950px) {
    .container-grid{
        grid-template-columns: repeat( 3, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        margin-bottom: 40px;
        /* margin-top: 318.391px; */
        /* transition: all 0.3s ease; */
    }

    .container-grid-cat{
        grid-template-columns: repeat( 5, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 10px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        z-index: 333;
        background: #fff;
        padding-bottom: 15px;
    }

    .container-grid-cat > div:nth-child(6){
        display: none;
    }

    .container-grid-cat > div:nth-child(5){
        display: none;
    }

    .container-grid-cat > div:nth-child(4){
        display: block;
    }

    .container-grid-cat > div:nth-child(3){
        display: block;
    }

    .container-grid-cat > div:nth-child(2){
        display: block;
    }

    .container-grid-cat > div:nth-child(2){
        display: block;
    }

    .container-grid-sub-cat{
        grid-template-columns: repeat( 8, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 10px;
        padding-left: 102px;
        padding-right: 102px;
        z-index: 333;
        background: #fff;
        padding-bottom: 10px;
        padding-top: 20px;
        border-top: 0.4px solid #bababa!important;
    }

    .container-grid-sub-cat > div:nth-child(8){
        display: none;
    }

    .container-grid-sub-cat > div:nth-child(7){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(6){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(5){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(4){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(3){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(2){
        display: flex;
    }

    .container-grid-sub-cat > div:nth-child(1){
        display: flex;
    }
}

@media (min-width: 1128px) {
    .container-grid{
        grid-template-columns: repeat( 4, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        margin-bottom: 50px;
        /* margin-top: 318.391px !important; */
        /* transition: all 0.3s ease; */
    }

    .container-grid-cat{
        grid-template-columns: repeat( 7, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 10px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        z-index: 333;
        background: #fff;
        padding-bottom: 12px;
    }

    .container-grid-cat > div:nth-child(6){
        display: block;
    }

    .container-grid-cat > div:nth-child(5){
        display: block;
    }

    .container-grid-cat > div:nth-child(4){
        display: block;
    }

    .container-grid-cat > div:nth-child(3){
        display: block;
    }

    .container-grid-cat > div:nth-child(2){
        display: block;
    }

    .container-grid-cat > div:nth-child(2){
        display: block;
    }
}

@media (min-width: 1606px) {
    .container-grid{
        grid-template-columns: repeat( 5, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        margin-bottom: 40px;
        /* margin-top: 318.391px; */
        /* transition: all 0.3s ease; */
    }
}

/* @media (min-width: 1536px) {
    .container-grid{
        grid-template-columns: repeat( 4, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        margin-top: 168px;
    }
} */


/* END OF RESPONSIVE */


/*RESPONSIVE ACTIVITY*/


@media (min-width: 550px) {
    .container-grid-activity{
        grid-template-columns: repeat( 2, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 15px;
        display: grid;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 45px;
        /* margin-top: 305px; */
        /* transition: all 0.5s ease; */
    }
}

@media (min-width: 950px) {
    .container-grid-activity{
        grid-template-columns: repeat( 3, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        margin-bottom: 40px;
        /* margin-top: 305px; */
        /* transition: all 0.3s ease; */
    }
}

@media (min-width: 992px) {
    .container-grid-cat{
        border-top: 0px;
    }
    .container-grid-sub-cat{
        display: grid;
    }
}

@media (min-width: 1128px) {
    .container-grid-activity{
        grid-template-columns: repeat( 4, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        margin-bottom: 50px;
        /* margin-top: 305px; */
        /* transition: all 0.3s ease; */
    }
}

@media (min-width: 1606px) {
    .container-grid-activity{
        grid-template-columns: repeat( 5, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        margin-bottom: 40px;
        /* margin-top: 305px; */
        /* transition: all 0.5s ease; */
    }
}

/* @media (min-width: 1536px) {
    .container-grid{
        grid-template-columns: repeat( 4, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto) !important;
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        margin-top: 168px;
    }
} */


/* END OF RESPONSIVE */


/*RESPONSIVE HOTEL*/
@media (min-width: 550px) {
    .container-grid-hotel{
        grid-template-columns: repeat( 1, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto);
        gap: 15px;
        display: grid;
        padding-left: 30px;
        padding-right: 30px;
        /* margin-top: 305px; */
        margin-bottom: 40px;
        /* transition: all 0.3s ease; */
    }
}

@media (min-width: 600px) {
    .container-grid-hotel{
        grid-template-columns: repeat( 2, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto);
        gap: 15px;
        display: grid;
        padding-left: 30px;
        padding-right: 30px;
        /* margin-top: 305px; */
        margin-bottom: 40px;
        /* transition: all 0.3s ease; */
    }
}

@media (min-width: 950px) {
    .container-grid-hotel{
        grid-template-columns: repeat( 2, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto);
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        /* margin-top: 305px; */
        margin-bottom: 40px;
    }
}

@media (min-width: 1128px) {
    .container-grid-hotel{
        grid-template-columns: repeat( 3, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto);
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        /* margin-top: 305px; */
        margin-bottom: 50px;
    }
}

@media (min-width: 1606px) {
    .container-grid-hotel{
        grid-template-columns: repeat( 3, minmax(0, 1fr) );
        grid-template-rows: repeat(1, auto);
        gap: 15px;
        display: grid;
        padding-left: 102px;
        padding-right: 102px;
        /* margin-top: 305px; */
        margin-bottom: 40px;
    }
}
/*END OF RESPONSIVE HOTEL*/

/* Slider arrow styling */
.slick-slider.slick-nav-black .slick-next, .slick-slider.slick-nav-black .slick-prev, .slick-slider.slick-nav-black .slick-next:hover, .slick-slider.slick-nav-black .slick-prev:hover{
    background-color: #fff;
}

.slick-slider.slick-nav-black .slick-next{
    background-color: #fff;
    height: 30px;
    width: 30px;
    right: 6px;
    border-radius: 15px;
    border: solid 1px #999;
    opacity: 0.8;
}

.slick-slider.slick-nav-black .slick-prev{
    background-color: #fff;
    height: 30px;
    width: 30px;
    right: 6px;
    border-radius: 15px;
    border: solid 1px #999;
    opacity: 0.8;
}

.slick-slider.slick-nav-black .slick-next:hover, .slick-slider.slick-nav-black .slick-prev:hover {
    opacity: 1;
}

.slick-slider.slick-nav-black .slick-next::before, .slick-slider.slick-nav-black .slick-prev::before {
    color: #000;
}

.slick-slider .slick-prev{
    left: 6px;
}

.slick-slider .slick-next::before, .slick-slider .slick-prev::before{
    font-size: 16px;
}

.slick-slider.slick-nav-black .slick-next::before, .slick-slider.slick-nav-black .slick-prev::before{
    text-shadow: none;
}

/* END of slider arrow styling */
.absolute-right{
    left: auto;
    right: 10px;
    top: 10px;
    position: absolute;
    z-index: 99;
}

.video-thumb-container{
    background-color: #ff7400;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-thumb-content{
    background-color: black;
    width: 46px;
    height: 46px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-thumb{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.icon-clear:hover{
    background: transparent !important;
}

.grid-img-filter {
    width: 100%;
    aspect-ratio: 16/9;
    height: 100%;
    height: 80px;
    border-radius: 12px;
    object-fit: cover;
    filter: brightness(70%);
}

.grid-text {
    position: absolute;
    z-index: 99;
    color: white;
    font-weight: 600;
}

.grid-img-container {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.grid-sub-cat-content-container {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.button-next{
    width: 30px;
    height: 30px;
    border : 1px solid grey;
    border-radius: 50%;
}

.button-next i{
    color: rgb(176, 176, 176);
}

.button-prev i{
    color: rgb(176, 176, 176);
}

.button-prev{
    width: 30px;
    height: 30px;
    border : 1px solid grey;
    border-radius: 50%;
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    .grid-img-filter{
        height: 50px !important;
        width: 50px !important;
        border-radius: 50%;
        aspect-ratio: 1/1;
        box-shadow: 1px 1px 5px rgb(0 0 0 / 73%);
        border: 1px solid black;
    }
}

@media only screen and (min-width: 360px) and (max-width: 510px) {
    .grid-img-filter{
        height: 60px !important;
        width: 60px !important;
        border-radius: 50%;
        aspect-ratio: 1/1;
        box-shadow: 1px 1px 5px rgb(0 0 0 / 73%);
        border: 1px solid black;
    }
}

@media only screen and (max-width: 425px) {

    .container-grid-cat, .container-grid-hotel, .container-grid-activity {
        padding-right: 0.8rem !important;
        padding-left: 0.8rem !important;
        /* margin-top: -56px !important; */
    }

    .container-grid-sub-cat {
        padding-right: 0.7rem !important;
        padding-left: 0.7rem !important;
    }

    /* .container-grid-sub-cat {
        top: 183px !important;
    } */

    .bg-body-light a .grid-text {
        color: #000 !important;
    }

    .list-slider .slick-list {
        margin-right: -2px;
    }

    /* .page-header-fixed {
        height: 79px !important;
    } */
}

@media only screen and (min-width: 321px) and (max-width: 510px) {
    .container-grid-cat .grid-img-container .grid-text {
        font-size: 0.6rem !important;
    }
}

@media only screen and (max-width: 320px) {
    .container-grid-cat .grid-img-container .grid-text {
        font-size: 0.5rem !important;
    }
}

@media only screen and (min-width: 426px) and (max-width: 549px) {
    .container-grid,
    .container-grid-cat,
    .container-grid-hotel,
    .container-grid-sub-cat {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .grid-img-filter{
        height: 140px;
    }

    .bg-body-light a .grid-text {
        color: #000 !important;
    }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
    /* .grid-container-43,
    .container-grid,
    .container-grid-activity,
    .container-grid-hotel {
        margin-top: 295px
    } */
    .container-grid {
        padding-left: 0.8rem !important;
        padding-right: 0.8rem !important;
    }

    .container-grid-cat {
        /* top: 132px !important; */
        padding-top: 1rem !important;
    }
}
@media only screen and (min-width: 511px) and (max-width: 949px) {
    .bg-body-light a .grid-text {
        color: #000 !important;
    }
    .grid-img-filter {
        height: 80px;
        width: 80px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        box-shadow: 1px 1px 8px rgb(0 0 0 / 73%);
    }

    .container-grid-cat .grid-img-container .grid-text {
        font-size: 0.7rem !important;
    }

    .container-grid-cat {
        padding-bottom: 40px;
    }

}
@media only screen and (max-width: 949px) {
    .grid-img-container {
        flex-direction: column !important;
    }
    .container-grid-cat {
        padding-bottom: 4px !important;
    }
    .grid-img-filter,
    .container-grid-cat .grid-img-container .grid-text {
        display: block !important;
    }
    .container-grid-cat .grid-img-container .grid-text {
        position: relative !important;
        margin-top: 5px !important;
        word-break: break-word;
    }
}
@media only screen and (min-width: 950px) and (max-width: 991px) {
    .grid-img-filter{
        height: 90px;
    }

}

@media only screen and (max-width: 991px) {
    .container-grid-cat {
        padding-top: 1rem !important;
    }

    .container__list{
        margin-top:88px; /*tinggi header*/
    }
    .container-grid-cat .grid-img-container .grid-text {
        font-size: 0.8rem;
    }

    .top-search {
        padding: 4px 12px !important;
        font-size: 0.8rem !important;
        height: 30px !important;
        border-radius: 40px !important;
        width: 45px !important;
    }

    .max-h-50 {
        max-height: 0 !important;
    }
}
/*
@media only screen and (min-width: 1360px) {
    .grid-container-43,
    .container-grid,
    .container-grid-activity,
    .container-grid-hotel {
        max-width: 1360px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
} */

