@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins'), url('Montreal-Regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins'), url('Montreal-Bold.woff') format('woff');
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong {
    font-family: 'Poppins', sans-serif !important;
    }
    
    p,
    div,
    span,
    input {
    font-family: 'Poppins', sans-serif !important;
    }
    
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .header-4-4 .modal-backdrop.show {
    background-color: #2c2c2c;
    opacity: 1;
    }
    
    .card-overlay {
    background: rgba(0, 0, 0, 0.159);
    }
    
    /* .card-overlay2 {
    background: rgba(0, 0, 0, 1);
    } */
    
    /* .header-4-4 .modal-item.modal {
    top: 2rem;
    }
    
    .navbar{
    left: 0px;
    } */
    
    .header-4-4 .navbar,
    .header-4-4 .hero {
    padding: 1.2rem 0.8rem;
    }
    
    /* .header-4-4 .navbar-dark .navbar-nav .nav-link {
    font: 300 18px/1.5rem Poppins, sans-serif;
    color: white;
    transition: 0.3s;
    } */
    
    /* .header-4-4 .navbar-dark .navbar-nav .nav-link:hover { */
    
    /*
    --tw-shadow: inset 0 0px 18px 0 rgba(0, 0, 0, 0.7);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    */
    /* transition: 0.3s;
    background-color: #ff7400;
    } */
    
    /*
    .header-4-4 .navbar-dark .navbar-nav .nav-link:hover {
    font: 600 16px/1.5rem Poppins, sans-serif;
    color: #e7e7e8;
    transition: 0.3s;
    }
    */
    
    /* .header-4-4 .navbar-dark .navbar-nav .active>.nav-link,
    .header-4-4 .navbar-dark .navbar-nav .nav-link.active,
    .header-4-4 .navbar-dark .navbar-nav .nav-link.show,
    .header-4-4 .navbar-dark .navbar-nav .show>.nav-link {
    font-weight: 600;
    transition: 0.3s;
    } */
    
    /* .header-4-4 .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    
    .header-4-4 .btn:focus,
    .header-4-4 .btn:active {
    outline: none !important;
    }
    
    .header-4-4 .btn-fill {
    font: 400 16px / normal Poppins, sans-serif;
    background-image: linear-gradient(rgba(255, 116, 0, 1), rgba(255, 116, 0, 1));
    border-radius: 12px;
    color: #000000;
    padding: 12px 24px;
    transition: 0.3s;
    }
    
    .header-4-4 .btn-fill:hover {
    color: #000000;
    --tw-shadow: inset 0 0px 18px 0 rgba(0, 0, 0, 0.7);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: 0.3s;
    }
    
    .header-4-4 .btn-no-fill {
    font: 300 18px/1.75rem Poppins, sans-serif;
    color: #e7e7e8;
    padding: 12px 32px;
    transition: 0.3s;
    }
    
    .header-4-4 .btn-no-fill:hover {
    color: #e7e7e8;
    transition: 0.3s;
    }
    
    .header-4-4 .modal-item .modal-dialog .modal-content {
    border-radius: 8px;
    }
    
    .header-4-4 .responsive li a {
    padding: 1rem;
    transition: 0.3s;
    }
    
    .header-4-4 .left-column {
    margin-bottom: 2.75rem;
    width: 100%;
    }
    
    .header-4-4 .text-caption {
    font: 600 0.875rem/1.625 Poppins, sans-serif;
    margin-bottom: 2rem;
    color: #c3cdfe;
    }
    
    .header-4-4 .title-text-big {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
    margin-bottom: 2rem;
    }
    
    .header-4-4 .btn-try {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    color: #000000;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    background-image: linear-gradient(rgba(255, 116, 0, 1),
    rgba(255, 116, 0, 1));
    transition: 0.3s;
    }
    
    .header-4-4 .btn-try:hover {
    color: #000000;
    --tw-shadow: inset 0 0px 18px 0 rgba(0, 0, 0, 0.7);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: 0.3s;
    }
    
    .header-4-4 .btn-outline {
    font: 400 1rem/1.5rem Poppins, sans-serif;
    border: 1px solid #999999;
    color: #999999;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    background-color: transparent;
    transition: 0.3s;
    } */
    
    /* .header-4-4 .btn-outline:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
    transition: 0.3s;
    }
    
    .header-4-4 .btn-outline:hover div path {
    fill: #ffffff;
    transition: 0.3s;
    }
    
    .header-4-4 .right-column {
    width: 100%;
    }
     */
    /* @media (min-width: 576px) {
    .header-4-4 .modal-item .modal-dialog {
    max-width: 95%;
    border-radius: 12px;
    }
    
    .header-4-4 .navbar {
    padding: 3rem 2rem;
    }
    
    .header-4-4 .hero {
    padding: 3rem 2rem 5rem;
    }
    
    .header-4-4 .title-text-big {
    font-size: 3rem;
    line-height: 1.2;
    }
    } */
    
    /* @media (min-width: 768px) {
    .header-4-4 .navbar {
    padding: 3rem 4rem;
    }
    
    .header-4-4 .hero {
    padding: 3rem 4rem 5rem;
    }
    
    .header-4-4 .left-column {
    margin-bottom: 3rem;
    }
    } */
    
    /* @media (min-width: 992px) {
    .header-4-4 .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 11px;
    padding-left: 11px;
    font-size: 15px;
    }
    
    .header-4-4 .navbar {
    padding: 3rem 6rem;
    }
    
    .header-4-4 .hero {
    padding: 0rem 6rem 0rem;
    }
    
    .header-4-4 .left-column {
    width: 50%;
    margin-bottom: 0;
    }
    
    .header-4-4 .title-text-big {
    font-size: 3.75rem;
    line-height: 1.2;
    }
    
    .header-4-4 .right-column {
    width: 50%;
    }
    } */
    
    /* .bg-company {
    background-color: #FF7400;
    } */
    
    .btn-company {
    font: 600 0.9rem Poppins, sans-serif;
    padding: 1rem 2.5rem !important;
    background-color: #FF7400 !important;
    transition: 0.3s !important;
    letter-spacing: 0.025em;
    border-radius: 0.75rem !important;
    color: #ffffff !important;
    }
    
    /* .btn-company:hover {
    background-color: #000000 !important;
    transition: 0.3s;
    color: #ffffff !important;
    }
    
    .btn-outline-company {
    font: 600 0.9rem Poppins, sans-serif;
    padding: 1rem 2.5rem !important;
    border: 2px solid #FF7400 !important;
    background-color: #FF7400;
    transition: 0.3s !important;
    background-color: transparent;
    border-radius: 0.75rem !important;
    color: #FF7400 !important;
    }
    
    .btn-outline-company:hover {
    background-color: #ffffff !important;
    border: 2px solid #ffffff !important;
    color: #FF7400 !important;
    transition: 0.3s !important;
    }
     */
    
    /*.footer-2-4 .list-space {
    margin-bottom: 1.25rem;
    }
    
    .footer-2-4 .footer-text-title {
    font: 600 1.5rem Poppins, sans-serif;
    margin-bottom: 1.5rem;
    }
    
    .footer-2-4 .list-menu {
    color: #999999;
    text-decoration: none !important;
    }
    
    .footer-2-4 .list-menu:hover {
    color: #ffffff;
    }
    
    .footer-2-4 hr.hr {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(48, 48, 48, 1);
    }
    
    .footer-2-4 .border-color {
    color: #999999;
    }
    
    .footer-2-4 .footer-link {
    color: #999999;
    }
    
    .footer-2-4 .footer-link:hover {
    color: #ffffff;
    }
    
    .footer-2-4 .social-media-c:hover circle,
    .footer-2-4 .social-media-p:hover path {
    fill: #ffffff;
    }
    
    .footer-2-4 .footer-info-space {
    padding-top: 3rem;
    }
    
    .footer-2-4 .list-footer {
    padding: 5rem 1rem 3rem 1rem;
    }
    
    .footer-2-4 .info-footer {
    padding: 0 1rem 3rem;
    } */
    
    /* @media (min-width: 576px) {
    .footer-2-4 .list-footer {
    padding: 5rem 2rem 3rem 2rem;
    }
    
    .footer-2-4 .info-footer {
    padding: 0 2rem 3rem;
    }
    }
    
    @media (min-width: 768px) {
    .footer-2-4 .list-footer {
    padding: 5rem 4rem 6rem 4rem;
    }
    
    .footer-2-4 .info-footer {
    padding: 0 4rem 3rem;
    }
    }
    
    @media (min-width: 992px) {
    .footer-2-4 .list-footer {
    padding: 5rem 6rem 6rem 6rem;
    }
    
    .footer-2-4 .info-footer {
    padding: 0 6rem 3rem;
    }
    } */
    
    /* #main,
    #thumbnails img {
    box-shadow: 2px 2px 10px 5px #b8b8b8;
    border-radius: 20px;
    } */
    
    * {
    transition: all 0.2s ease;
    }
    
    /* #thumbnails {
    text-align: center;
    }
    
    #thumbnails img {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    } */
    
    /* @media only screen and (max-width: 480px) {
    #thumbnails img {
    width: 50px;
    height: 50px;
    }
    } */
    
    /* #thumbnails img:hover {
    transform: scale(1.05);
    }
    
    #main {
    width: 50%;
    height: 400px;
    object-fit: cover;
    display: block;
    margin-top: 200px;
    margin: 20px auto;
    } */
    
    /* @media only screen and (max-width: 480px) {
    #main {
    width: 100%;
    }
    } */
    
    /* .hidden {
    opacity: 0;
    }
    
    .content-3-2 .btn:focus,
    .content-3-2 .btn:active {
    outline: none !important;
    }
    
    .content-3-2 {
    padding: 5rem 2rem;
    }
    
    .content-3-2 .img-hero {
    width: 100%;
    margin-bottom: 3rem;
    }
    
    .content-3-2 .right-column {
    width: 100%;
    }
    
    .content-3-2 .title-text {
    font: 600 1.875rem/2.25rem Poppins, sans-serif;
    margin-bottom: 2.5rem;
    letter-spacing: -0.025em;
    color: #121212;
    }
    
    .content-3-2 .title-caption {
    font: 500 1.5rem/2rem Poppins, sans-serif;
    margin-bottom: 1.25rem;
    color: #121212;
    }
    
    .content-3-2 .circle {
    font: 500 1.25rem/1.75rem Poppins, sans-serif;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1.25rem;
    border-radius: 9999px;
    background-color: #FF7400;
    }
    
    .content-3-2 .text-caption {
    font: 400 1rem/1.75rem Poppins, sans-serif;
    letter-spacing: 0.025em;
    color: #565656;
    }
    
    .content-3-2 .btn-learn {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 2.5rem;
    background-color: #FF7400;
    transition: 0.3s;
    letter-spacing: 0.025em;
    border-radius: 0.75rem;
    }
    
    .content-3-2 .btn:hover {
    background-color: #000000;
    transition: 0.3s;
    } */
    
    /* content 3-2-host */
    /* .content-3-2-host .btn:focus,
    .content-3-2-host .btn:active {
    outline: none !important;
    }
    
    .content-3-2-host {
    padding: 5rem 2rem;
    }
    
    .content-3-2-host .img-hero {
    width: 100%;
    margin-bottom: 3rem;
    }
    
    .content-3-2-host .right-column {
    width: 100%;
    }
    
    .content-3-2-host .title-text {
    font: 600 1.875rem/2.25rem Poppins, sans-serif;
    margin-bottom: 2.5rem;
    letter-spacing: -0.025em;
    color: #121212;
    }
    
    .content-3-2-host .title-caption {
    font: 500 1.5rem/2rem Poppins, sans-serif;
    margin-bottom: 1.25rem;
    color: #121212;
    }
    
    .content-3-2-host .circle {
    font: 500 1.25rem/1.75rem Poppins, sans-serif;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1.25rem;
    border-radius: 9999px;
    background-color: #FF7400;
    }
    
    .content-3-2-host .text-caption {
    font: 400 1rem/1.75rem Poppins, sans-serif;
    letter-spacing: 0.025em;
    color: #565656;
    }
    
    .content-3-2-host .btn-learn {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 2.5rem;
    background-color: #FF7400;
    transition: 0.3s;
    letter-spacing: 0.025em;
    border-radius: 0.75rem;
    }
    
    .content-3-2-host .btn:hover {
    background-color: #000000;
    transition: 0.3s;
    } */
    
    /* @media (min-width: 768px) {
    .content-3-2 .title-text {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
    }
    .content-3-2-host .title-text {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
    }
    }
    
    @media (min-width: 992px) {
    .content-3-2 .img-hero {
    width: 50%;
    margin-bottom: 0;
    }
    
    .content-3-2 .right-column {
    width: 50%;
    }
    
    .content-3-2 .circle {
    margin-right: 1.25rem;
    margin-bottom: 0;
    }
    
    .content-3-2-host .img-hero {
    width: 50%;
    margin-bottom: 0;
    }
    
    .content-3-2-host .right-column {
    width: 50%;
    }
    
    .content-3-2-host .circle {
    margin-right: 1.25rem;
    margin-bottom: 0;
    }
    } */
    
    
    
    /* Header */
    /* .search-box {
    max-width: 200px;
    max-height: 5px;
    left: 600px;
    position: absolute;
    top: 30px;
    } */
    
    /* @media (max-width: 1280px) {
    .search-box {
    max-width: 200px;
    max-height: 5px;
    left: 96px;
    position: absolute;
    top: -20px;
    }
    } */
    
    /* #search_bar {
    transition: all 0.5s ease;
    transform: scale(0);
    z-index: 999;
    position: relative;
    text-align: center;
    } */
    
    /* #search_bar.active {
    transform: scale(1);
    z-index: 999;
    position: relative;
    left: -120px;
    } */
    
    
    /* #search_bar {
    transform: scale(1);
    z-index: 999;
    position: relative;
    left: -120px;
    }
    
    .barsearch {
    width: 700px;
    margin: 0 auto;
    } */
    
    /* .searchbox {
    border: 2px solid #ff7400;
    padding: 0 20px;
    border-radius: 13px;
    width: auto;
    margin: 20px auto;
    } */
    
    /* @media screen and (max-width: 2000px) {
    .bar{
    box-sizing: border-box;
    width: 900px;
    height: 65px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    margin-top: 80px;
    margin-left: -720px;
    }
    }
    
    @media screen and (max-width: 1280px) {
    .bar {
    box-sizing: border-box;
    width: 900px;
    height: 65px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    margin-top: 130px;
    margin-left: -240px;
    }
    } */
    
    
    
    /* .bar div {
    border-radius: inherit;
    padding: 0.8rem 1rem;
    transition: background 250ms ease;
    }
     */
    /* .bar div:hover {
    
    
    background: hsl(0 0% 94%);
   
    } */
    
    /* .location {
    width: 30%;
    border-radius: 10px 0px 0px 10px !important;
    background-color: white;
    border-left: 2px solid #FF7400;
    border-top: 2px solid #FF7400;
    border-bottom: 2px solid #FF7400;
    } */
    
    /* .location-font-size {
    font-size: 17px;
    }
    
    .check-in {
    background-color: white;
    border-radius: 0px !important;
    border-top: 2px solid #FF7400;
    border-bottom: 2px solid #FF7400;
    }
    
    .check-in::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 55%;
    background: #FF7400 !important;
    }
    
    .check-out {
    background-color: white;
    margin-right: 6px !important;
    border-radius: 0px 10px 10px 0px !important;
    border-top: 2px solid #FF7400;
    border-bottom: 2px solid #FF7400;
    border-right: 2px solid #FF7400;
    }
    
    .check-out::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 55%;
    background: #FF7400 !important;
    }
    
    
    .guests {
    margin-left: 6px !important;
    border-radius: 10px 0px 0px 10px !important;
    border-top: 2px solid #FF7400;
    border-bottom: 2px solid #FF7400;
    border-left: 2px solid #FF7400;
    background-color: white;
    }
    
    .check-in,
    .check-out,
    .guests {
    width: 22%;
    } */
    
    /* input[type="text"] {
    background: none;
    }
    
    input[type="text"]:focus {
    outline: none;
    } */
    
    /* ::placeholder {
    font-size: 0.75rem;
    } */

    .hero {
    min-height: 400px !important;
    }

    input {
    width: 100%;
    padding: 8px 8px 8px 30px;
    margin: 3px auto !important;
    font-size: 14px !important;
    border-radius: 5px;
    outline: none;
    border: solid 1px #a5a5a5;
    }

    input[type="submit"] {
    font: 600 0.9rem Poppins, sans-serif;
    padding: 1rem 2.5rem !important;
    background-color: #FF7400 !important;
    transition: 0.3s !important;
    letter-spacing: 0.025em;
    border-radius: 0.75rem !important;
    color: #ffffff !important;
    border: none;
    }

    .font-destination, .font-guest, .font-calendar, .font-search {
    position: relative;
    }

    .font-destination i, .font-guest i, .font-calendar i {
    position: absolute;
    left: 10px;
    top: 13px;
    color: gray;
    }

    .font-search i {
    position: absolute;
    left: 125px;
    top: 21px;
    color: rgb(255, 255, 255);
    }

    .fa-lg {
    font-size: 1.111111111em !important;
    }

    .row:not(.g-sm):not(.g-0)>.col, .row:not(.g-sm):not(.g-0)>[class*=col-] {
    padding-left: 0 !important;
    padding-right: 0 !important;
    }
    
    /* .search-button {
    position: relative;
    margin-top: 22px;
    transform: translateY(-50%);
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: black;
    border: 2px solid #FF7400;
    color: #fff;
    height: 48px;
    border-radius: 15%;
    width: 50px;
    } */
    
    /* @media only screen and (max-width: 2000px) {
    .searchbox i {
    position: absolute;
    top: 50%;
    right: 678px;
    padding: 13px;
    transform: translateY(-50%);
    background: #FF7400;
    color: #fff !important;
    font-size: 0.8rem;
    height: 38px;
    border-radius: 15%;
    width: 38px;
    border: solid 1px #ff7400;
    }
    }
    
    @media only screen and (max-width: 1366px) {
    .searchbox i {
    position: absolute;
    top: 50%;
    right: 495px;
    padding: 13px;
    transform: translateY(-50%);
    background: #FF7400;
    color: #fff !important;
    font-size: 0.8rem;
    height: 38px;
    border-radius: 15%;
    width: 38px;
    border: solid 1px #ff7400;
    }
    }
    
    @media only screen and (max-width: 1280px) {
    .searchbox i {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 463px;
    padding: 13px;
    transform: translateY(-50%);
    background: #FF7400;
    color: #fff !important;
    font-size: 14px;
    height: 34px;
    border-radius: 15%;
    width: 34px;
    border: solid 1px #ff7400;
    }
    } */
    
    /* .bar>div {
    box-sizing: border-box;
    margin: 0;
    padding-top: 9px;
    position: relative;
    } */
    
    /*
    .bar > div::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform:translateY(-50%);
    width: 1px;
    height: 55%;
    background: #FF7400;
    }*/
    
    /* .bar>div:nth-of-type(1)::before {
    background: transparent;
    }
    
    .bar>div:hover::before {
    background: transparent;
    }
    
    .bar p {
    margin: 0;
    font-weight: bold;
    font-size: 150%;
    }
    
    .searchbox p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: left;
    }
    
    .bar input {
    text-align: center;
    color: #b3afaf;
    border: 0;
    height: 20px;
    margin-top: 0px;
    } */
    
    .nav {
    display: block;
    }
    
    /* .button-dropdown {
    font-size: 110%;
    margin-top: 0px;
    color: #727b83;
    }
    
    .button {
    background-color: white !important;
    border-radius: 0px 10px 10px 0px !important;
    border-top: 2px solid #FF7400;
    border-bottom: 2px solid #FF7400;
    border-right: 2px solid #FF7400;
    padding-right: 6px !important;
    } */
    
    /*
    .dropdown-menu {
    border-radius: 15px !important;
    border: solid 1px #6c757d !important;
    min-width: 220px;
    }
    
    .dropdown-menu>li {
    font-size: 11px;
    display: flow-root;
    }
    
    .dropdown-menu input {
    width: 60px;
    height: 25px;
    border: solid 1px #b3afaf !important;
    border-radius: 5px;
    outline: none;
    margin: -5px 0 0 10px;
    }
    
    .dropdown-menu>li>p {
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    .dropdown-menu>li span {
    float: right;
    }
    
    .dropdown-menu>li>p>span input {
    width: 48px;
    }
    
    .dropdown-menu a {
    color: #ff7400 !important;
    }
    
    .dropdown-menu a:hover {
    color: #313131 !important;
    }
    */
    
    /* .bar .check-in input,
    .bar .check-out input {
    font-size: 110%;
    color: #6c757d !important;
    }
    
    .guests a,
    .guests a:hover {
    color: #6c757d;
    } */
    
    /*
    .dropdown-menu p {
    font-size: 12px !important;
    font-weight: 400;
    color: #6c757d;
    width: 120%;
    margin-left: -16px;
    }
    */
    
    /* .dropdown-pd-0 {
    padding: 0 !important;
    margin: 3px 0;
    }
     */
    /*
    .dropdown-menu {
    border-radius: 15px !important;
    min-width: 220px;
    }
    */
    
    /* .text-small {
    font-size: 12px;
    color: #899097;
    }
    
    .plus-min {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px #b5b5b5;
    margin: 0 auto;
    }
    
    .text-small span {
    margin-left: 0 !important;
    font-size: 10px;
    color: #798289;
    }
    
    .navbar-gap {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 15px;
    transition: 0.3s;
    }
    
    .navbar-gap:hover {
    color: white !important;
    font-size: 16px !important;
    } */
    
    /* body {
    background-color: white !important;
    } */
    
    .card-body {
    background-color: #FF7400;
    }
    
    /* .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0) !important;
    }
    
    .input-transparant {
    background-color: rgb(255 255 255 / 0%) !important;
    }
    
    
    
    
    .flatpickr-day.endRange, .flatpickr-day.endRange.inRange, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.endRange:focus, .flatpickr-day.endRange:hover, .flatpickr-day.selected, .flatpickr-day.selected.inRange, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange, .flatpickr-day.startRange.inRange, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.startRange:focus, .flatpickr-day.startRange:hover {
    border-color: #ff7400 !important;
    background: #ff7400 !important;
    }
    
    .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 #e6e6e6 !important;
    box-shadow: -10px 0 0 #e6e6e6 !important;
    }
    
    
    .flatpickr-calendar {
    width: auto !important;
    }
    
    .flatpickr-rContainer {
    width: 100%;
    }
    
    .dayContainer {
    max-width: 900px !important;
    width: 900px !important;
    }
    
    .flatpickr-day {
    min-width: 60px;
    }
    
    .flatpickr-weekdays {
    margin: 20px auto;
    padding: 0 0 10px 0;
    }
    
    .dayContainer+.dayContainer {
    margin-bottom: 20px;
    }
    
    .flatpickr-months .flatpickr-month {
    flex: 1;
    margin-top: 20px;
    }
    
    .flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
    .flatpickr-months .flatpickr-next-month.flatpickr-next-month,
    .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
    .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    margin-top: 15px;
    }
    
    .flatpickr-calendar {
    -webkit-box-shadow: none;
    box-shadow: none;
    }
    
    .flatpickr-day.endRange,
    .flatpickr-day.endRange.inRange,
    .flatpickr-day.endRange.nextMonthDay,
    .flatpickr-day.endRange.prevMonthDay,
    .flatpickr-day.endRange:focus,
    .flatpickr-day.endRange:hover,
    .flatpickr-day.selected,
    .flatpickr-day.selected.inRange,
    .flatpickr-day.selected.nextMonthDay,
    .flatpickr-day.selected.prevMonthDay,
    .flatpickr-day.selected:focus,
    .flatpickr-day.selected:hover,
    .flatpickr-day.startRange,
    .flatpickr-day.startRange.inRange,
    .flatpickr-day.startRange.nextMonthDay,
    .flatpickr-day.startRange.prevMonthDay,
    .flatpickr-day.startRange:focus,
    .flatpickr-day.startRange:hover {
    border-color: #ff7400;
    background: #ff7400;
    }
    
    .flatpickr-days {
    width: 900px !important;
    }
    
    .flatpickr-calendar.animate.arrowTop.arrowLeft.rightMost.open {
    right: 47px !important;
    border: solid 1px #b3b3b3;
    border-radius: 25px;
    }
    
    .flatpickr-calendar.rightMost::before,
    .flatpickr-calendar.arrowRight::before,
    .flatpickr-calendar.rightMost::after,
    .flatpickr-calendar.arrowRight::after {
    display: none;
    }
    
    .dayContainer+.dayContainer {
    box-shadow: none !important;
    }
    
    
    .location-popup{
    position: absolute;
    width: 420px;
    background-color: white;
    left: 0px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    top: 76px;
    border-radius: 12px !important;
    text-align: left;
    border: 2px solid #ff7400;
    height: 387px;
    overflow-y: auto;
    }
    
    .location-popup-desc-container{
    display: flex; 
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    display: flex;
    align-items: center;
    }
    
    .location-popup-map{
    background-color: #ff7400; 
    height: 55px; 
    width: 55px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-right: 8px;
    }
    
    .location-popup-map-load{
    background-color: #e0e0e0; 
    height: 55px; 
    width: 55px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-right: 8px;
    }
    
    .location-popup-map-image{
    height: 55px; 
    width: 55px; 
    border-radius: inherit;
    border: 2px solid #e0e0e0;
    }
    
    .location-popup-text{
    font-size: 15px;
    display: flex;
    align-items: center;
    }
    
    .display-block{
    display: block !important;
    }
    
    .display-none{
    display: none !important;
    }
    
    .transform-none{
    transform: scale(0);
    }
    
    .transform-block{
    transform: scale(1);
    }
    
    .position-fixed{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: black;
    }
    
    .guest-popup{
    position: absolute;
    width: 350px;
    background-color: white;
    right: -73px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    top: 76px;
    border-radius: 12px !important;
    text-align: left;
    border: 2px solid #ff7400 !important;
    }
    
    .guests-input-row{
    display: flex;
    padding: 0px !important;
    }
    
    .guest-type-container{
    padding: 0px !important;
    }
    
    .guest-type-title{
    color: black !important;
    font-size: 15px !important;
    }
    
    .guest-type-desc{
    font-size: 13px !important;
    color: grey;
    }
    
    .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.347) !important;
    } */
    
    .hero {
    height: 0 !important;
    } 
    
    .first-section-top {
    padding-top: 0.3rem;
    }

    /* .input-location {
    width: 100% !important;
    height: 60px !important;
    position: absolute;
    padding-top: 20px !important;
    top: 4px;
    left: 3px;
    cursor: pointer;
    }
    
    .input-guest{
    position: absolute;
    width: 184px;
    top: 0px;
    left: 0px;
    height: 62px;
    }

    .dropdown-toggle::after {
    content: none !important;
    }
    
    .dropdown-toggle-icon::after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content:" ";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    } */
    
    /* START OF FLATPICKER HOME*/
    /* .flat-margin {
    margin-top: 30px;
    }
    
    .flatpickr-days{
    width: 648px !important;
    }
    
    .flatpickr-calendar{
    padding-left: 70px !important;
    padding-right: 70px !important;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    left: 240px !important; 
    /* top: 198px !important; */
    /* border-radius: 18px !important;
    }
    .flatpickr-day {
    min-width: 0px;
    }
    
    .dayContainer{
    margin-left: 10px;
    margin-right: 10px;
    }
    
    .flatpickr-weekdaycontainer{
    padding-left:10px;
    padding-right: 10px;
    margin-left: 8px;
    }
    
    .flatpickr-next-month{
    margin-top: 210px !important;
    }
    
    .flatpickr-prev-month{
    margin-top: 210px !important; 
    }
    
    .flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
    fill: #ff7400 !important;
    }
    
    .flatpickr-next-month:hover{
    fill: #ff7400 !important;
    }
    
    .flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg {
    height: 34px !important;
    width: 34px !important;
    } */
    /* END OF FLATPICKER HOME*/
    
    /* START OF NAV-LINK HOME*/
    /* .nav-link-style{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border:2px solid #ff7400;
    display: flex !important;
    align-items: center;
    justify-content: center;
    }
    
    .nav-link-margin{
    margin-left: 9px;
    margin-right: 9px;
    }
    
    .navbar-nav{
    display: flex;
    justify-content: center;
    }
    
    .nav-link-form p{
    margin-top: 7px;
    margin-bottom: 0px;
    color: white;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    }
    
    .nav-link-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    } */
    /* END OF NAV-LINK HOME*/
    
    /* .dropdown-header{
    padding: 0.5rem 1.5rem !important;
    }
    .dropdown-menu{
    min-width: 13rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
    
    .user-dropdown-menu{
    border: 2px solid #ff7400 !important;
    border-radius: 12px !important;
    }
    
    .dropdown-menu .dropdown-header .dropdown-user-img {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    border-radius: 100%;
    }
    
    .dropdown-menu .dropdown-header .dropdown-user-details .dropdown-user-details-name {
    color: #222222;
    font-weight: 500;
    font-size: 0.9rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .dropdown-menu .dropdown-header .dropdown-user-details .dropdown-user-details-email {
    color: #687281;
    font-size: 0.75rem;
    max-width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .dropdown-item {
    display: block !important;
    width: 100% !important;
    padding: 0.25rem 1.5rem !important;
    clear: both !important;
    font-weight: 400 !important; 
    color: #222222 !important;
    text-align: inherit !important;
    white-space: nowrap !important;
    background-color: transparent !important;
    border: 0 !important;
    font-size: 0.9rem !important;
    font-family: 'Poppins' !important;
    }
     */
    .bg-body-black{
    background-color: black;
    }
    
    .font-light{
    color: white;
    }
    
    .font-black{
    color: black;
    }
    
    /*Test */
    /* .ul-display-none{
    transform-origin: 30% -40% !important;
    transform: scale(0) translateY(-7px) !important;
    transition: all 0.5s ease !important;
    }
    
    .ul-display-block{
    transform-origin: 30% 40% !important;
    transform: scale(1) translateY(7px) !important;
    transition: all 0.5s ease !important;   
    position: relative;
    z-index: 1;
    }
    
    .searchbox-display-none{
    transform: scale(0) !important;
    transition: all 0.1s ease !important;
    }
    
    .searchbox-display-block{
    transform: scale(1) !important;
    transition: all 0.2s ease !important;
    }
    
    .row-popup-height{
    height: 190px;
    transition: all 0.2s ease !important;
    }
    
    .padding-top-0{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    }
    
    .search-height{
    height: 230px;
    align-items: flex-start !important;
    padding-top: 20px !important;
    }
     */
    /* .margin-top{
    margin-top: -120px;
    } */

    .nav-top img {
    max-width: 20%;
    }

    .footer-header {
    margin-bottom: 0;
    }
    
    /*End Test*/
    
    /* For SAFARI */
    a[type=button]{
    -webkit-appearance : none !important;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    
    /* End SAFARI */
    
    /*Enjoyhint Edit*/
    .enjoy_hint_label {
    top: 170.35899999999998px !important;
    left: 15.234000000000009px !important;
    }
    
    .enjoyhint_next_btn {
    left: 135.234px !important;
    top: 234.35900000000004px !important;
    }
    
    .enjoyhint_skip_btn {
    left: 243.23399999999998px !important;
    top: 234.35900000000004px !important;
    }
    
    .load {
    width: 220px !important;
    }
    
    .footer-bottom-space, .footer-space {
    height: 5px !important;
    }
    
    /* Mega Menu Drop Down */
    * {
    box-sizing: border-box;
    }
    /* body {
    background-color: #20b49c;
    font-family: "Fira Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.875em;
    } */
    body::after {
    content: '';
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    height: auto;
    width: 100vw;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    }

    a {
    text-decoration: none;
    }

    .nav-top {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 101;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    background-color: #000000;
    }
    
    .hamburger::before {
    content: '\f0c9';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    }
    
    .hamburger.active::after {
    content: '\f00d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    }
    
    .hamburger.active::before {
    content: none;
    }
    
    .nav-top .hamburger {
    margin-left: auto;
    color: #e8e8e8;
    cursor: pointer;
    }

    .hamburger {
    font-size: 24px;
    }
    
    /* .material-icons {
    font-size: 18px;
    border: solid 1px #e8e8e8;
    width: 30px;
    height: 30px;
    justify-content: center;
    display: flex;
    border-radius: 3px;
    } */

    .nav-drill {
    margin-top: 50px;
    transform: translateX(100%);
    }

    .nav-is-toggled .nav-drill {
    transform: translateX(0);
    }

    .nav-is-toggled::after {
    opacity: 1;
    visibility: visible;
    }

    .nav-drill {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.45s;
    }

    .nav-items {
    flex: 0 0 100%;
    }
    .nav-item:not(:last-child) {
    border-bottom: solid 1px #daf9f4;
    }

    .nav-link {
    display: block;
    padding: 0.875em 1em;
    background-color: #fff;
    color: #20b49c;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 300;
    }

    .nav-expand-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: #daf9f4;
    transition: 0.3s;
    visibility: hidden;
    }

    .nav-expand-content .nav-item:not(:last-child) {
    border-bottom: solid 1px #20b49c;
    }

    .nav-expand-content .nav-link {
    background-color: #daf9f4;
    }

    .nav-expand-content .nav-back-link {
    display: flex;
    align-items: center;
    background-color: #20b49c !important;
    color: #fff;
    }

    .nav-expand-content .nav-back-link::before {
    content: '\f053';
    margin-right: 0.5em;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    }

    .nav-expand-link {
    display: flex;
    justify-content: space-between;
    }

    .nav-expand-link::after {
    content: '\f054';
    flex: 0 1 auto;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    }

    .nav-expand.active > .nav-expand-content {
    transform: translateX(0);
    visibility: visible;
    }

    .nav-expand .nav-expand-content {
    background-color: #daf9f4;
    }

    .nav-expand .nav-expand-content .nav-link {
    background-color: #daf9f4;
    }

    .nav-expand .nav-expand-content .nav-expand-content {
    background-color: #aff1e6;
    }

    .nav-expand .nav-expand-content .nav-expand-content .nav-link {
    background-color: #aff1e6;
    }

    .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
    background-color: #84e9d9;
    }

    .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    background-color: #84e9d9;
    }

    .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
    background-color: #59e1cb;
    }

    .nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
    background-color: #59e1cb;
    }

    .advance-search {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://pix10.agoda.net/hotelImages/536338/-1/7fb0471ef14d1b431d415f17b39f37e3.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    }

    .sticky {
    width: 100%;
    position: fixed;
    top: 0;
    background: #000;
    z-index: 222;
    left: 0;
    padding: 20px;
    }

    /* Nav block */
    .nav-info-block {
        position: relative;
        top: 0;
        left: 20px;
    }
    