/*Start of restaurant type */
.restauranttype-popup{
position: absolute;
width: 350px;
background-color: white;
top: 59px;
border-radius: 12px !important;
text-align: left;
border: 2px solid #ff7400 !important;
padding: 28px 28px 28px 28px !important;
}
/*End of restaurant type */

/*Start of rate of price */
.rateofprice-popup{
position: absolute;
width: 350px;
background-color: white;
top: 59px;
border-radius: 12px !important;
text-align: left;
border: 2px solid #ff7400 !important;
padding: 28px 28px 28px 28px !important;
}
/*End of rate of price*/

/*Start of facilities */
.facilities-popup{
position: absolute;
width: 350px;
background-color: white;
top: 59px;
border-radius: 12px !important;
text-align: left;
border: 2px solid #ff7400 !important;
padding: 28px 28px 28px 28px !important;
}
/*End of facilities*/

/*Start of meal-popup */
.meal-popup{
position: absolute;
width: 350px;
background-color: white;
top: 59px;
border-radius: 12px !important;
text-align: left;
border: 2px solid #ff7400 !important;
padding: 28px 28px 28px 28px !important;
}
/*End of meal-popup*/

/*Start of dishes-popup */
.dishes-popup{
position: absolute;
width: 350px;
background-color: white;
top: 59px;
border-radius: 12px !important;
text-align: left;
border: 2px solid #ff7400 !important;
padding: 28px 28px 28px 28px !important;
}
/*End of dishes-popup*/

/*Start of dishes-popup */
.dietaryfood-popup{
position: absolute;
width: 350px;
background-color: white;
top: 59px;
border-radius: 12px !important;
text-align: left;
border: 2px solid #ff7400 !important;
padding: 28px 28px 28px 28px !important;
}
/*End of dishes-popup*/

/*Start of dishes-popup */
.goodfor-popup{
position: absolute;
width: 350px;
background-color: white;
top: 59px;
border-radius: 12px !important;
text-align: left;
border: 2px solid #ff7400 !important;
padding: 28px 28px 28px 28px !important;
}
/*End of dishes-popup*/

.cat {
line-height: 15px !important;
overflow: hidden;
float: left;
text-decoration: none;
display: block;
border-radius: 25px;
font-size: 12px;
background-color: black;
border: 1px solid white;
color: white;
}

.cat-container {
display: flex;
padding: 0px;
margin-bottom: 0px !important;
align-items: center;
}

.cat-gap {
margin-left: 4px;
margin-right: 4px;
}

.cat-margin-0 {
margin-top: 0px !important;
}

.cat:hover {
background: black;
color: #fff;
transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
border: solid 1px #ff7400;
}

.cat label {
float: left;
line-height: 3.0em;
width: 8.0em;
height: 3.0em;
}

.cat label span {
text-align: center;
padding: 3px 0;
display: block;
}

.cat label input {
position: absolute;
display: none;
color: #fff !important;
}

.cat label input+span {
color: #fff;
}

.cat input:checked+span {
color: #ffffff;
text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.action input:checked+span {
background-color: #FF7400;
}

.cat-span {
height: 3em;
padding: 0px !important;
display: flex !important;
align-items: center;
justify-content: center;
}

.villa-list-price span {
margin-left: 0 !important;
}

.villa-list-title span {
margin-right: 0 !important;
}

a:focus {
border: none;
}

.checkdesign {
font-size: .7rem;
padding-left: 22px;
}

.dropdown-menu {
margin-left: -15px;
}

.cuisine-popup {
top: 76px !important;
}

.cuisine-popup.dropdown-menu {
padding: 20px 0 5px 20px !important;
}

.filter-restaurant input, .filter-restaurant select {
border-top: none;
border-left: none;
border-right: none;
border-bottom: solid 1px #828282;
background: none;
position: relative;
top: -30px;
border-bottom-style: dotted;
color: #828282;
font-size: 16px;
}

input::placeholder {
color: #828282;
font-size: 16px;
}

.checkbox-filter {
margin-top: -26px;
margin-bottom: 26px;
}

.checkbox {
display: block;
cursor: pointer;
position: relative;
}

.checkbox > span {
color: #000;
padding: 0.5rem 0.25rem;
position: relative;
font-size: 14px;
top: -5px;
}

.checkbox > input {
height: 20px;
width: 20px;
-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance: none;
border: 1px solid #828282;
border-radius: 4px;
outline: none;
transition-duration: 0.3s;
background-color: none;
cursor: pointer;
}

.checkbox > input:checked {
border: 1px solid #ff7400;
background-color: #ff7400;
}

.checkbox > input:checked + span::before {
content: '\f00c';
font-family: 'Font Awesome 5 Free';
font-weight: 900;
display: block;
text-align: center;
color: #fff;
position: absolute;
left: -1.3rem;
top: 0.5rem;
font-size: 12px;
}

.checkbox > input:active {
border: 2px solid #ff7400;
}

.irs {
    margin-bottom: 40px;
  }
