.date-filter {
    position: relative;
    width: 122px;
    padding: 7px 0 10px 10px !important;
  }

  #date {
    border: 0;
    background: none;
    display: block;
    margin: 0 auto;
    outline: none;
    color: white;
    text-align: left;
    transition: 250ms width ease, 250ms border-color ease;
    font-size: 12px;
    height: 30px;
  }
  
  .placeholder {
    position: absolute;
    left: 20px;
    top: 0px;
    background-color: white;
    padding: 0 20px;
  }
  
  .date-filter:focus ~ .placeholder,
  .date-filter:valid ~ .placeholder {
    display: none;
  }

  .villa-list-price span {
    margin-left: 0 !important;
  }

  .filter-restaurant input, .filter-restaurant select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #828282;
    background: none;
    position: relative;
    top: -30px;
    border-bottom-style: dotted;
    color: #828282;
    font-size: 16px;
    }
    
    input::placeholder {
    color: #828282;
    font-size: 16px;
    }
    
    .checkbox-filter {
    margin-top: -26px;
    margin-bottom: 26px;
    }
    
    .checkbox {
    display: block;
    cursor: pointer;
    position: relative;
    }
    
    .checkbox > span {
    color: #000;
    padding: 0.5rem 0.25rem;
    position: relative;
    font-size: 14px;
    top: -5px;
    }
    
    .checkbox > input {
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #828282;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: none;
    cursor: pointer;
    }
    
    .checkbox > input:checked {
    border: 1px solid #ff7400;
    background-color: #ff7400;
    }
    
    .checkbox > input:checked + span::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: block;
    text-align: center;
    color: #fff;
    position: absolute;
    left: -1.3rem;
    top: 0.5rem;
    font-size: 12px;
    }
    
    .checkbox > input:active {
    border: 2px solid #ff7400;
    }